<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Users</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Include the header -->
    <%- include('partials/header', { title: 'Disc Management' , user: user }) %>

        <div class="container mt-3">
            <h1>Registered Users</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User</th>
                        <th>E</th>
                        <th>D</th>
                        <th>B</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user=> { %>
                        <tr>
                            <td>
                                <%= user.id %>
                            </td>
                            <td>
                                <%= user.username %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <%= user.disc_count %>
                            </td>
                            <td>
                                <%= user.bag_count %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
        <!-- Include the footer -->
        <%- include('partials/footer') %>
</body>

</html>