<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disc Details</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('partials/header', { title: 'Disc Details' , user: user }) %>

        <div class="container mt-3">
            <h1>Disc Details</h1>
            <img src="<%= disc.imageUrl %>" style="cursor: pointer;" alt="Disc Image" class="img-thumbnail"
                id="discImageDisplay">
            <input type="file" id="discImage" name="discImage" accept="image/*" style="display: none;">
            <button type="button" class="btn btn-primary" id="uploadImageButton" style="display: none;">Upload
                Image</button>

            <form action="/update-disc/<%= disc.id %>" id="discDetailsForm" method="post">
                <div class="mb-3">
                    <label for="manufacturer" class="form-label">Manufacturer</label>
                    <input type="text" class="form-control" id="manufacturer" value="<%= disc.manufacturer %>"
                        name="manufacturer" required disabled>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= disc.name %>" required
                        disabled>
                </div>
                <div class="mb-3">
                    <label for="weight" class="form-label">Weight</label>
                    <input type="number" class="form-control" id="weight" name="weight" value="<%= disc.weight %>"
                        required disabled>
                </div>
                <div class="mb-3">
                    <label for="plastic_type" class="form-label">Plastic Type</label>
                    <input type="text" class="form-control" id="plastic_type" name="plastic_type"
                        value="<%= disc.plastic_type %>" required disabled>
                </div>
                <div class="mb-3">
                    <label for="range_type" class="form-label">Range Type</label>
                    <select class="form-control" id="range_type" name="range_type" required disabled>
                        <option value="Approach" <%=disc.disc_type==='Approach' ? 'selected' : '' %>>Approach</option>
                        <option value="Putter" <%=disc.disc_type==='Putter' ? 'selected' : '' %>>Putter</option>
                        <option value="Mid-Range" <%=disc.disc_type==='Mid-Range' ? 'selected' : '' %>>Mid-Range
                        </option>
                        <option value="Distance Driver" <%=disc.disc_type==='Distance Driver' ? 'selected' : '' %>
                            >Distance Driver
                        </option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="stability">Stability</label>
                    <select class="form-control" id="stability" name="stability" required disabled>
                        <option value="Under-Stable" <%=disc.stability==='Under-Stable' ? 'selected' : '' %>
                            >Under-Stable</option>
                        <option value="Stable" <%=disc.stability==='Stable' ? 'selected' : '' %>>Stable</option>
                        <option value="Over-Stable" <%=disc.stability==='Over-Stable' ? 'selected' : '' %>>Over-Stable
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="speed" class="form-label">Speed (<span id="speedValue">
                            <%= disc.speed %>
                        </span>)</label>
                    <input type="range" class="form-range" id="speed" name="speed" min="1" max="14"
                        value="<%= disc.speed %>" oninput="updateSliderValue(this.id, this.value)" required disabled>
                </div>
                <div class="mb-3">
                    <label for="glide" class="form-label">Glide(<span id="glideValue">
                            <%= disc.glide %>
                        </span>)</label>

                    <input type="range" class="form-range" id="glide" name="glide" min="1" max="7"
                        value="<%= disc.glide %>" oninput="updateSliderValue(this.id, this.value)" required disabled>
                </div>
                <div class="mb-3">
                    <label for="turn" class="form-label">Turn (<span id="turnValue">
                            <%= disc.turn %>
                        </span>)</label>

                    <input type="range" class="form-range" id="turn" name="turn" min="-5" max="2"
                        value="<%= disc.turn %>" oninput="updateSliderValue(this.id, this.value)" required disabled>
                </div>

                <div class="mb-3">
                    <label for="fade" class="form-label">Fade (<span id="fadeValue">
                            <%= disc.fade %>
                        </span>)</label>

                    <input type="range" class="form-range" id="fade" name="fade" min="0" max="5"
                        value="<%= disc.fade %>" oninput="updateSliderValue(this.id, this.value)" required disabled>
                </div>

                <div class="mb-3">
                    <label for="color" class="form-label">Color</label>
                    <input type="color" class="form-control form-control-color" id="color" name="color"
                        value="<%= disc.color %>" required disabled>
                </div>
                <button type="button" class="btn btn-primary" id="editButton">Edit</button>
                <button type="submit" class="btn btn-success" id="saveButton" style="display: none;">Save
                    Changes</button>

            </form>
        </div>

        <%- include('partials/footer') %>

            <script>
                editable = false;
                function updateSliderValue(id, value) {
                    document.getElementById(id + 'Value').innerText = value;
                }
                document.getElementById('editButton').addEventListener('click', function () {
                    editable = true;
                    const formElements = document.querySelectorAll('#discDetailsForm input, #discDetailsForm select');
                    formElements.forEach(element => element.disabled = false);
                    document.getElementById('saveButton').style.display = 'block';
                    this.style.display = 'none';
                });

                /*document.getElementById('discDetailsForm').addEventListener('submit', function (event) {
                    event.preventDefault();
                    const formData = new FormData(this);
                    fetch(`/update-disc/<%= disc.id %>`, {
                        method: 'POST',
                        body: formData
                    }).then(response => {
                        if (!response.ok) throw new Error('Network response was not ok');
                        return response.json();
                    }).then(data => {
                        alert('Disc updated successfully!');
                        //window.location.reload();
                    }).catch(error => {
                        console.error('Error updating disc:', error);
                        alert('Error updating disc: ' + error.message);
                    });
                });*/

                document.getElementById('discImageDisplay').addEventListener('click', function () {
                    if (editable) {
                        document.getElementById('discImage').click();
                    }

                });

                document.getElementById('discImage').addEventListener('change', function () {
                    if (this.files && this.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            document.getElementById('discImageDisplay').src = e.target.result;
                            document.getElementById('uploadImageButton').style.display = 'block';
                        };
                        reader.readAsDataURL(this.files[0]);
                    }
                });

                document.getElementById('uploadImageButton').addEventListener('click', function () {
                    const formData = new FormData();
                    const discId = '<%= disc.id %>';
                    formData.append('discImage', document.getElementById('discImage').files[0]);

                    fetch('/update-disc-image/' + discId, {
                        method: 'POST',
                        body: formData
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                document.getElementById('uploadImageButton').style.display = 'none';
                            } else {
                                alert('Failed to update image.');
                            }
                        })
                        .catch(error => {
                            console.error('Error updating disc image:', error);
                            alert('Error updating disc image.');
                        });
                });
            </script>
</body>

</html>