<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disc Management</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('partials/header', { title: 'Disc Management' , user: user }) %>

        <div class="container mt-3">
            <h1>Disc Management</h1>
            <div class="mb-3">
                <button class="btn btn-primary" id="addDiscBtn">Add Disc</button>
                <button class="btn btn-secondary" id="bulkAddDiscBtn" style="display: none;">Add Bulk Discs</button>
            </div>
            <!-- Add a filter button in your HTML -->
            <div class="mb-3">
                <button class="btn btn-primary" onclick="window.location.href = '/disc-management'">All Discs</button>
                <button class="btn btn-success" onclick="window.location.href = '/disc-management?checkedOut=true'">View
                    Checked Out Discs</button>
                <button id="toggleFilters" class="btn btn-info">Show Filters</button>

            </div>
            <div class="mb-3" id="filterSection" style="display: none;">
                <div class="filter-row">
                    <input type="text" id="filterName" placeholder="Search by name" class="form-control">
                    <input type="text" id="filterPlastic" placeholder="Search by plastic type" class="form-control">
                    <select id="filterType" class="form-control">
                        <option value="">All Types</option>
                        <option value="Putter">Putter</option>
                        <option value="Mid-Range">Mid-Range</option>
                        <option value="Fairway Driver">Fairway Driver</option>
                        <option value="Distance Driver">Distance Driver</option>
                    </select>
                    <select id="filterColor" class="form-control">
                        <option value="">All Colors</option>
                        <option value="#ff0000" style="background-color: #ff0000;">Red</option>
                        <option value="#ffa500" style="background-color: #ffa500;">Orange</option>
                        <option value="#ffff00" style="background-color: #ffff00;">Yellow</option>
                        <option value="#008000" style="background-color: #008000;">Green</option>
                        <option value="#0000ff" style="background-color: #0000ff;">Blue</option>
                        <option value="#4b0082" style="background-color: #4b0082;">Purple</option>
                        <option value="#ee82ee" style="background-color: #ee82ee;">Pink</option>
                        <option value="#000000" style="background-color: #000000;">Black</option>
                        <option value="#ffffff" style="background-color: #ffffff;">White</option>
                    </select>
                    <style>
                        select {
                            -webkit-appearance: none;
                            /* Disable default appearance */
                            -moz-appearance: none;
                            appearance: none;
                            padding: 0.5rem;
                            /* Add padding to make the dropdowns clickable */
                            background-color: transparent;
                            /* Set a transparent background */
                            border: 1px solid #ccc;
                            /* Add a border for better visibility */
                            border-radius: 4px;
                            /* Optional: Add some border radius for a rounded look */
                        }

                        /* Style the dropdown arrow */
                        select::after {
                            content: '\25BC';
                            /* Unicode character for a down arrow */
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            transform: translateY(-50%);
                            pointer-events: none;
                            /* Ensure the arrow doesn't interfere with clicking the dropdown */
                        }
                    </style>
                </div>
                <div class="button-row mt-2">
                    <button id="applyFilters" class="btn btn-primary">Apply Filters</button>
                    <button id="removeFilters" class="btn btn-secondary">Remove Filters</button>
                </div>
            </div>

            <style>
                .filter-row {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    /* Allows wrapping when screen is small */
                }

                .filter-row .form-control {
                    flex-grow: 1;
                    margin-right: 8px;
                }

                .button-row {
                    display: flex;
                    justify-content: center;
                    /* Centers buttons in the row */
                }

                #filterColor option {
                    height: 20px;
                    width: 20px;
                    padding: 0px;
                    margin: 2px;
                    vertical-align: middle;
                    color: transparent;
                    /* Hide text */
                    border: 1px solid #ddd;
                    /* Optional: adds a border around the color squares */
                }

                #filterColor {
                    -webkit-appearance: none;
                    /* Remove default style in WebKit browsers */
                    -moz-appearance: none;
                    /* Remove default style in Firefox */
                    appearance: none;
                    padding: 5px;
                    /* Add some padding inside the select box */
                    background: url("path_to_custom_dropdown_arrow_image") no-repeat right;
                    /* Custom arrow */
                }
            </style>
            <div id="discList">
                <% if (discs && discs.length> 0) { %>
                    <% discs.forEach(disc=> { %>
                        <div class="row mb-2 border rounded p-2" style="cursor: pointer;" data-disc-id="<%= disc.id %>">
                            <div class="col-md-5" style="display: flex;">
                                <img src="<%= disc.imageUrl || '/uploads/defaultDiscImage.png' %>" alt="Disc Image"
                                    class="img-thumbnail" style="background-color: <%= disc.color %>;">
                                <p class="textDetails"><strong style="display: none;">Manufacturer:</strong>
                                <div style="align-content: center; margin-left: 1rem;">
                                    <strong style="margin-left: 1rem;align-content: center;">
                                        <h4 style="align-content: center; text-decoration:wavy; font-weight: 700;">
                                            <%= disc.manufacturer %>
                                        </h4>

                                    </strong>
                                    <strong>
                                        <h6><strong style="display: none;">Name:</strong>
                                            <%= disc.name %>
                                        </h6>
                                    </strong>
                                </div>

                                </p>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-4" id="textDetailsRow">



                                        <p class="textDetails"><strong style="display: none;">Type:</strong>
                                            <%= disc.disc_type %>
                                        </p>
                                        <p class="textDetails"><strong style="display: none;">Plastic:</strong>
                                            <%= disc.plastic_type %>
                                        </p>
                                        <p class="textDetails"><strong style="display: none;">Weight:</strong>
                                            <%= disc.weight %> grams
                                        </p><!--
                                        <p><strong>Color:</strong> <span class="color-indicator"
                                                style="display: inline-block; width: 20px; height: 20px; background-color: <%= disc.color %>;"></span>
                                        </p>-->
                                    </div>
                                    <div class="col-md-4">
                                        <p
                                            style="text-align: center ;background-color: #e2e2e2; border: 1px solid black;font-weight: 600; color: #000; margin-bottom: 0; border-radius: 10px 10px 0 0;">
                                            <strong style="display: none;">Stabilty:</strong>
                                            <%= disc.stability %>
                                        </p>
                                        <div class="flightNums" style="display: flex; justify-content: space-between;">
                                            <p class="flightNumsItem1"
                                                style="display: grid; text-align: center; border: 1px solid black; width: 25%;">
                                                <strong>Speed:</strong>
                                                <%= disc.speed %>
                                            </p>
                                            <p class="flightNumsItem"
                                                style="display: grid; text-align: center; border: 1px solid black; width: 25%;">
                                                <strong>Glide:</strong>
                                                <%= disc.glide %>
                                            </p>
                                            <p class="flightNumsItem"
                                                style="display: grid; text-align: center; border: 1px solid black; width: 25%;">
                                                <strong>Turn:</strong>
                                                <%= disc.turn %>
                                            </p>
                                            <p class="flightNumsItem4"
                                                style="display: grid; text-align: center; border: 1px solid black; width: 25%;">
                                                <strong>Fade:</strong>
                                                <%= disc.fade %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-info checkout-btn" data-disc-id="<%= disc.id %>">
                                            <%= disc.checked_out ? 'Check In' : 'Check Out' %>
                                        </button>
                                        <button type="button" class="btn btn-info addToBagBtn"
                                            data-disc-id="<%= disc.id %>">Add to Bag</button>
                                        <button style="display: none;" type="button" class="removeFromBagBtn"
                                            data-disc-id="<%= disc.id %>" return false;>Remove from Bag</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">

                            </div>

                        </div>
                        <% }); %>
                            <% } else { %>
                                <p>No discs found.</p>
                                <% } %>
            </div>

        </div>




</body>
<script src="/js/discManagement.js"></script>

</html>